@using Microsoft.AspNetCore.Identity;
@inject SignInManager<UserDetails> SignInManager

<div class="row" style="margin-top: 2em">
    @if (!SignInManager.IsSignedIn(User))
    {
        <div class="col-lg-6">

            <h3>Sign In using credentials</h3>

            <form method="Get" asp-controller="Account" asp-action="AppLogin" asp-route-returnUrl="@Model.ReturnUrl">
                <div class="form-row">
                    <div class="form-group">
                        <input class="form-control input-lg" id="Email" name="Email" type="text" placeholder="Email" value="@Html.ViewData.Eval("Email")">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <input class="form-control input-lg" id="Password" name="Password" type="Password" placeholder="Password" value="">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <input type="checkbox" id="chkRememberMe" name="rememberMe" value="true" checked="checked">
                        <label for="chkRememberMe">Remember Me</label>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4">
                        <a class="lnk" asp-area="" asp-controller="Account" asp-action="Register" asp-route-ReturnUrl="@ViewData["ReturnUrl"]">Register New User</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-6">
            <div class="nav-item float-right">
                @{
                    <form method="post" asp-controller="Account" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                        <div>
                            <Button type="submit" class="btn btn-primary" name="provider" value="Google" title="Login Using Google Account">Log In With Google</Button>
                        </div>
                    </form>
                }

            </div>
        </div>}
    else
    {
        <div class="col-lg-6">
            <table id="session-info" class="table table-bordered">
                <caption style="caption-side:top;">Authenticated User Session</caption>
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>@Model.Id</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <th>UserName</th>
                        <td>@Model.UserName</td>
                    </tr>
                    <tr>
                        <th>DisplayName</th>
                        <td>@Model.DisplayName</td>
                    </tr>
                    <tr>
                        <th>AuthProvider</th>
                        <td>@Model.AuthProvider</td>
                    </tr>
                    <tr>
                        <th>ProfileUrl</th>
                        <td>
                            <img src="@Model.ProfileUrl" />
                            <span>@(Model.ProfileUrl ?? "(fallback)")</span>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2">
                            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
                                <button type="submit" class="btn btn-link">Sign Out</button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            View Public and Secure Pages and APIs on <a href="/">Home page</a>.
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    }
</div>

<script>
    window.addEventListener('load', function () {
        $(document).bindHandlers({
            switchUser: function (u) {
                $("#Email").val(u);
                $("#Password").val('p@55wOrd');
            }
        });
    });</script>

